@charset "UTF-8";
/*公共样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, figure, legend, img, input {
  margin: 0;
  padding: 0; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

u, a {
  text-decoration: none; }

input, a {
  outline: none; }

/*点击聚焦出现的外边框去掉*/
ul, li, ol {
  list-style: none; }

img, fieldset {
  border: none; }

img {
  vertical-align: middle; }

body {
  font-size: 12px;
  font-family: "宋体","Arial Narrow",HELVETICA; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal; }

.clear_fix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

/*制作logo及登录注册*/
#topWrap {
  width: 100%;
  height: 45px;
  background: #000; }
  #topWrap .top {
    width: 980px;
    height: 45px;
    margin: 0 auto; }
    #topWrap .top h1 {
      line-height: 45px;
      float: left; }
    #topWrap .top ul {
      float: right;
      position: relative; }
      #topWrap .top ul li {
        float: left;
        color: #213220; }
        #topWrap .top ul li a {
          padding: 0 16px;
          line-height: 45px;
          color: #d4cbd0; }
          #topWrap .top ul li a:hover {
            color: #fff; }
          #topWrap .top ul li a i {
            font-size: 9px !important; }
        #topWrap .top ul li .top-ul-li-a-first {
          display: none; }
        #topWrap .top ul li .top-ul-li-a-3 {
          color: #efcd38; }
        #topWrap .top ul li .top-ul-li-a-last {
          padding-right: 21px;
          line-height: 43px; }
      #topWrap .top ul .top-ul-li-last .top-ul-li-last-div {
        position: absolute;
        top: 43px;
        right: 0;
        width: 120px;
        height: 120px;
        background: #000;
        overflow: hidden;
        padding: 2px;
        display: none;
        z-index: 1; }
        #topWrap .top ul .top-ul-li-last .top-ul-li-last-div img {
          width: 100%; }

/*制作导航条*/
.active, .change {
  border-bottom: 3px solid #000; }

#navWrap {
  width: 100%;
  height: 60px; }
  #navWrap .nav {
    width: 980px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px; }
    #navWrap .nav ul {
      float: left; }
      #navWrap .nav ul li {
        float: left;
        height: 60px; }
        #navWrap .nav ul li a {
          font-size: 16px;
          color: #020202;
          padding: 7px;
          margin-right: 22px; }
        #navWrap .nav ul li i {
          font-size: 4px !important;
          color: #201e1f;
          margin-right: 18px; }
    #navWrap .nav form {
      width: 330px;
      float: right;
      position: relative;
      margin-top: 15px; }
      #navWrap .nav form #searchTxt {
        width: 282px;
        height: 28px;
        float: left;
        border: 1px solid #e4e4e4;
        color: #e9e9eb;
        text-indent: 5px; }
      #navWrap .nav form #searchBtn {
        width: 43px;
        height: 30px;
        background: #000;
        float: right;
        border: none; }
      #navWrap .nav form i {
        position: absolute;
        top: -15px;
        right: 11px;
        color: #d2d2d2;
        font-size: 20px !important; }

/*制作轮播*/
#carouselWrap {
  width: 100%;
  height: 360px;
  background: #ddd; }
  #carouselWrap #carousel {
    width: 980px;
    height: 100%;
    margin: 0 auto; }
  #carouselWrap .carouselLeft {
    width: 770px;
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden; }
    #carouselWrap .carouselLeft #carouselPic {
      width: 5000px; }
      #carouselWrap .carouselLeft #carouselPic li {
        float: left; }
    #carouselWrap .carouselLeft #carouselLeftAFirst {
      position: absolute;
      width: 42px;
      height: 42px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      top: 159px;
      text-align: center;
      line-height: 42px;
      color: #fff;
      display: none; }
    #carouselWrap .carouselLeft #carouselLeftALast {
      position: absolute;
      width: 42px;
      height: 42px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      top: 159px;
      text-align: center;
      line-height: 42px;
      color: #fff;
      display: none;
      right: 0px; }
    #carouselWrap .carouselLeft .carouselPicMix {
      width: 60px;
      height: 10px;
      position: absolute;
      bottom: 10px;
      left: 350px;
      overflow: hidden; }
      #carouselWrap .carouselLeft .carouselPicMix #carouselCenterBtn {
        width: 100px;
        height: 10px; }
        #carouselWrap .carouselLeft .carouselPicMix #carouselCenterBtn li {
          float: left; }
          #carouselWrap .carouselLeft .carouselPicMix #carouselCenterBtn li a {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 5px;
            background: rgba(0, 0, 0, 0.3); }
          #carouselWrap .carouselLeft .carouselPicMix #carouselCenterBtn li .carouselCenterBtnchange {
            background: rgba(0, 0, 0, 0.7); }
  #carouselWrap .carouselRight {
    width: 205px;
    float: right;
    border-left: 5px solid #751b37; }
