@charset 'utf-8';
/*公共样式*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,figure,legend,img,input{margin:0;padding:0;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
u,a{text-decoration: none;}
input,a{outline:none;}/*点击聚焦出现的外边框去掉*/
ul,li,ol{list-style:none;}
img,fieldset{border:none;}
img{vertical-align: middle;}
body{font-size:12px;font-family:"宋体","Arial Narrow",HELVETICA;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
.clear_fix:after{content:'.';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}

$WidthWrap : 100%;
$Width : 980px;

/*制作logo及登录注册*/
#topWrap{
    width: $WidthWrap;
    height: 45px;
    background: #000;
    .top{
        width: $Width;
        height: 45px;
        margin: 0 auto;
        h1{
            line-height: 45px;
            float: left;
        }
        ul{
            float: right;
            position: relative;
            li{
                float: left;
                color: #213220;
                a{
                    padding: 0 16px;
                    line-height: 45px;
                    color: #d4cbd0;
                    &:hover{
                        color: #fff;
                    }
                    i{
                        font-size: 9px !important;
                    }
                }
                .top-ul-li-a-first{
                    display: none;
                }
                .top-ul-li-a-3{
                    color: #efcd38;
                }
                .top-ul-li-a-last{
                    padding-right: 21px;
                    line-height: 43px;
                }
            }
            .top-ul-li-last{
                .top-ul-li-last-div{
                    position: absolute;
                    top: 43px;
                    right: 0;
                    width: 120px;
                    height: 120px;
                    background: #000;
                    overflow: hidden;
                    padding: 2px;
                    display: none;
                    z-index: 1;
                    img{
                        width: 100%;
                    }
                }
            }   
        }
    }
}
/*制作导航条*/
.active,.change{
    border-bottom: 3px solid #000;
}
#navWrap{
    width: $WidthWrap;
    height: 60px;
    .nav{
        width: $Width;
        height: 60px;
        margin: 0 auto;
        line-height: 60px;
        ul{
            float: left;
            li{
                float: left;
                a{
                    font-size: 16px;    
                    color: #020202;
                    padding: 7px;
                    margin-right: 22px;
                }
//              .nav-ul-li-a-first{
//                  border-bottom: 3px solid #000;
//              }
                i{
                    font-size: 4px !important;
                    color: #201e1f;
                    margin-right: 18px;
                }
            }
        }
        form{
            width: 330px;
            float: right;
            position: relative;
            margin-top: 15px;
            #searchTxt{
                width: 282px;
                height: 28px;
                float: left;
                border: 1px solid #e4e4e4;
                color: #e9e9eb;
                text-indent: 5px;
            }
            #searchBtn{
                width: 43px;
                height: 30px;
                background: #000;
                float: right;
                border: none;
            }
            i{
                position: absolute;
                top: -15px;
                right: 11px;
                color: #d2d2d2;
                font-size: 20px !important;
            } 
        }
    }
}
